.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.message {
  margin-bottom: 10px;
  cursor: not-allowed;
}

.message-info {
  color: #999;
  font-size: 11px;
}

ul {
  list-style: none;
}
